# **3 - Data Cleaning**

## Importing Libraries

In [6]:
import pandas as pd
import pickle

## Importing Pickles

In [11]:
with open('fighters.pkl', 'rb') as f:
    fighters = pickle.load(f)
with open('fights.pkl', 'rb') as f:
    fights = pickle.load(f)

## Dropping Columns

In [12]:
# Dropping Post-Fight Columns
fights = fights[['R_fighter', 'B_fighter', 'Format', 'Referee', 'date', 'location', 'Fight_type', 'Winner']]

## Renaming Columns

In [13]:
fights.columns = ['R', 'B', 'Format', 'Referee', 'Date', 'Location', 'Division', 'Winner']
fighters.columns = ['Name', 'Height', 'Weight', 'Reach', 'Stance', 'Birthday', 'SSLPM', 'SAC', 'SSAPM', 'SD', 'TAV', 'TAC', 'TD', 'SAV']

# SSLPM = Significant Strikes Landed Per Minute
# SAC = Striking Accuracy
# SSAPM = Significant Strikes Absorbed Per Minute
# SD = Striking Defense
# TAV = Takedowns Average
# TAC = Takedown Accuracy
# TD = Takedown Defense
# SAV = Submission Average

print('Fighters')
print('************************************')
display(fighters.head())
print('Fights')
print('************************************')
display(fights.head())

Fighters
************************************

,Name,Height,Weight,Reach,Stance,Birthday,SSLPM,SAC,SSAPM,SD,TAV,TAC,TD,SAV
0,Tom Aaron,NaN,155 lbs.,NaN,NaN,"Jul 13, 1978",0.00,0%,0.00,0%,0.00,0%,0%,0.0
1,Papy Abedi,"5' 11""",185 lbs.,NaN,Southpaw,"Jun 30, 1978",2.80,55%,3.15,48%,3.47,57%,50%,1.3
2,Shamil Abdurakhimov,"6' 3""",235 lbs.,"76""",Orthodox,"Sep 02, 1981",2.45,44%,2.45,58%,1.23,24%,47%,0.2
3,Danny Abbadi,"5' 11""",155 lbs.,NaN,Orthodox,"Jul 03, 1983",3.29,38%,4.41,57%,0.00,0%,77%,0.0
4,Hiroyuki Abe,"5' 6""",145 lbs.,NaN,Orthodox,NaN,1.71,36%,3.11,63%,0.00,0%,33%,0.0

Fights
************************************

,R,B,Format,Referee,Date,Location,Division,Winner
0,Adrian Yanez,Gustavo Lopez,3 Rnd (5-5-5),Chris Tognoni,"March 20, 2021","Las Vegas, Nevada, USA",Bantamweight Bout,Adrian Yanez
1,Trevin Giles,Roman Dolidze,3 Rnd (5-5-5),Herb Dean,"March 20, 2021","Las Vegas, Nevada, USA",Middleweight Bout,Trevin Giles
2,Tai Tuivasa,Harry Hunsucker,3 Rnd (5-5-5),Herb Dean,"March 20, 2021","Las Vegas, Nevada, USA",Heavyweight Bout,Tai Tuivasa
3,Cheyanne Buys,Montserrat Conejo,3 Rnd (5-5-5),Mark Smith,"March 20, 2021","Las Vegas, Nevada, USA",Women's Strawweight Bout,Montserrat Conejo
4,Marion Reneau,Macy Chiasson,3 Rnd (5-5-5),Mark Smith,"March 20, 2021","Las Vegas, Nevada, USA",Women's Bantamweight Bout,Macy Chiasson

## Merging DataFrames

In [14]:
df = pd.merge(fights, fighters, left_on = 'R', right_on = 'Name', how = 'left')
df = pd.merge(df, fighters, left_on = 'B', right_on = 'Name', how = 'left')
# Renaming Columns
df.columns = ['R', 'B', 'Format', 'Referee', 'Date', 'Location', 'Division', 'Winner', 'R_Name', 'R_Height', 'R_Weight', 'R_Reach', 'R_Stance', 'R_Birthday', 'R_SSLPM', 'R_SAC', 'R_SSAPM', 'R_SD', 'R_TAV', 'R_TAC', 'R_TD', 'R_SAV', 'B_Name', 'B_Height', 'B_Weight', 'B_Reach', 'B_Stance', 'B_Birthday', 'B_SSLPM', 'B_SAC', 'B_SSAPM', 'B_SD', 'B_TAV', 'B_TAC', 'B_TD', 'B_SAV']
print('Fighters and Fights')
display(df.info())
print('------------------------------------')
print('Head')
display(df.head())
print('------------------------------------')
print('Tail')
display(df.tail())

Fighters and Fights
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6012 entries, 0 to 6011
Data columns (total 36 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   R           6012 non-null   object
 1   B           6012 non-null   object
 2   Format      6012 non-null   object
 3   Referee     5980 non-null   object
 4   Date        6012 non-null   object
 5   Location    6012 non-null   object
 6   Division    6012 non-null   object
 7   Winner      5902 non-null   object
 8   R_Name      6012 non-null   object
 9   R_Height    6008 non-null   object
 10  R_Weight    6010 non-null   object
 11  R_Reach     5606 non-null   object
 12  R_Stance    5983 non-null   object
 13  R_Birthday  5949 non-null   object
 14  R_SSLPM     6012 non-null   float64
 15  R_SAC       6012 non-null   object
 16  R_SSAPM     6012 non-null   float64
 17  R_SD        6012 non-null   object
 18  R_TAV       6012 non-null   float64
 19  R_TAC       6012 non-null   object
 20  R_TD        6012 non-null   object
 21  R_SAV       6012 non-null   float64
 22  B_Name      6012 non-null   object
 23  B_Height    6002 non-null   object
 24  B_Weight    6004 non-null   object
 25  B_Reach     5121 non-null   object
 26  B_Stance    5946 non-null   object
 27  B_Birthday  5840 non-null   object
 28  B_SSLPM     6012 non-null   float64
 29  B_SAC       6012 non-null   object
 30  B_SSAPM     6012 non-null   float64
 31  B_SD        6012 non-null   object
 32  B_TAV       6012 non-null   float64
 33  B_TAC       6012 non-null   object
 34  B_TD        6012 non-null   object
 35  B_SAV       6012 non-null   float64
dtypes: float64(8), object(28)
memory usage: 1.7+ MB

None

------------------------------------
Head

,R,B,Format,Referee,Date,Location,Division,Winner,R_Name,R_Height,...,B_Stance,B_Birthday,B_SSLPM,B_SAC,B_SSAPM,B_SD,B_TAV,B_TAC,B_TD,B_SAV
0,Adrian Yanez,Gustavo Lopez,3 Rnd (5-5-5),Chris Tognoni,"March 20, 2021","Las Vegas, Nevada, USA",Bantamweight Bout,Adrian Yanez,Adrian Yanez,"5' 7""",...,Orthodox,"Jun 27, 1989",2.24,41%,4.65,51%,1.07,50%,27%,0.5
1,Trevin Giles,Roman Dolidze,3 Rnd (5-5-5),Herb Dean,"March 20, 2021","Las Vegas, Nevada, USA",Middleweight Bout,Trevin Giles,Trevin Giles,"6' 0""",...,Orthodox,"Jul 15, 1988",2.98,51%,1.75,61%,1.75,50%,33%,2.2
2,Tai Tuivasa,Harry Hunsucker,3 Rnd (5-5-5),Herb Dean,"March 20, 2021","Las Vegas, Nevada, USA",Heavyweight Bout,Tai Tuivasa,Tai Tuivasa,"6' 2""",...,Orthodox,"Jan 03, 1989",4.33,51%,8.44,41%,0.00,0%,0%,0.0
3,Cheyanne Buys,Montserrat Conejo,3 Rnd (5-5-5),Mark Smith,"March 20, 2021","Las Vegas, Nevada, USA",Women's Strawweight Bout,Montserrat Conejo,Cheyanne Buys,"5' 3""",...,Southpaw,"Feb 03, 1993",1.00,36%,2.07,52%,4.00,80%,0%,2.0
4,Marion Reneau,Macy Chiasson,3 Rnd (5-5-5),Mark Smith,"March 20, 2021","Las Vegas, Nevada, USA",Women's Bantamweight Bout,Macy Chiasson,Marion Reneau,"5' 6""",...,Orthodox,"Jul 27, 1991",4.16,49%,2.17,46%,0.98,21%,64%,0.5

------------------------------------
Tail

,R,B,Format,Referee,Date,Location,Division,Winner,R_Name,R_Height,...,B_Stance,B_Birthday,B_SSLPM,B_SAC,B_SSAPM,B_SD,B_TAV,B_TAC,B_TD,B_SAV
6007,Remco Pardoel,Alberta Cerra Leon,No Time Limit,John McCarthy,"March 11, 1994","Denver, Colorado, USA",Open Weight Bout,Remco Pardoel,Remco Pardoel,"6' 3""",...,NaN,NaN,0.0,0%,0.0,0%,0.0,0%,0%,0.0
6008,Orlando Wiet,Robert Lucarelli,No Time Limit,John McCarthy,"March 11, 1994","Denver, Colorado, USA",Open Weight Bout,Orlando Wiet,Orlando Wiet,"5' 10""",...,NaN,NaN,0.0,0%,0.0,0%,0.0,0%,0%,0.0
6009,Johnny Rhodes,David Levicki,No Time Limit,John McCarthy,"March 11, 1994","Denver, Colorado, USA",Open Weight Bout,Johnny Rhodes,Johnny Rhodes,"6' 0""",...,NaN,NaN,0.0,0%,0.0,0%,0.0,0%,0%,0.0
6010,Patrick Smith,Ray Wizard,No Time Limit,John McCarthy,"March 11, 1994","Denver, Colorado, USA",Open Weight Bout,Patrick Smith,Patrick Smith,"6' 2""",...,NaN,NaN,0.0,0%,0.0,0%,0.0,0%,0%,0.0
6011,Scott Morris,Sean Daugherty,No Time Limit,John McCarthy,"March 11, 1994","Denver, Colorado, USA",Open Weight Bout,Scott Morris,Scott Morris,"5' 10""",...,NaN,"Dec 04, 1975",0.0,0%,0.0,0%,0.0,0%,0%,0.0

## Modifying Columns

### Converting Height, Weight, and Reach

In [ ]:
# Convert from FT IN to CM
def convert_height(height):
    if pd.isna(height):
        return np.nan
    feet, inches = height.split(" ")
    feet = float(feet[0])
    inches = float(inches[0])
    return (feet * 30.48) + (inches * 2.54)

# Convert from LB to KG
def convert_weight(weight):
    if pd.isna(weight):
        return np.nan
    weight = weight.split(" ")
    weight = float(weight[0])
    return weight * 0.4536

# Convert from IN to CM
def convert_reach(reach):
    if pd.isna(reach):
        return np.nan
    reach = float(reach[0:2])
    return reach * 2.54

df['R_Height'] = df['R_Height'].apply(convert_height)
df['R_Weight'] = df['R_Weight'].apply(convert_weight)
df['R_Reach'] = df['R_Reach'].apply(convert_reach)
df['B_Height'] = df['B_Height'].apply(convert_height)
df['B_Weight'] = df['B_Weight'].apply(convert_weight)
df['B_Reach'] = df['B_Reach'].apply(convert_reach)

display(df[['R_Height', 'R_Weight', 'R_Reach', 'B_Height', 'B_Weight', 'B_Reach']].head())

   R_Height  R_Weight  R_Reach  B_Height  B_Weight  B_Reach
0    170.18   61.2360   177.80    165.10   61.2360   170.18
1    182.88   83.9160   187.96    187.96   92.9880   193.04
2    187.96  119.7504   190.50    187.96  109.3176   190.50
3    160.02   52.1640   160.02    152.40   52.1640   154.94
4    167.64   61.2360   172.72    154.94   61.2360   182.88

### Calculating Age

In [ ]:
# Convert to DateTime
df['Date'] = pd.to_datetime(df['Date'])
df['R_Birthday'] = pd.to_datetime(df['R_Birthday'])
df['B_Birthday'] = pd.to_datetime(df['B_Birthday'])
# Age in Days
df['R_Age'] = (df['Date'] - df['R_Birthday']).dt.days
df['B_Age'] = (df['Date'] - df['B_Birthday']).dt.days

display(df[['R_Age', 'B_Age']].head())

     R_Age    B_Age
0   9973.0  11589.0
1  10453.0  11936.0
2  10231.0  11764.0
3   9400.0  10272.0
4  15979.0  10829.0

### Binarize Winner

In [ ]:
# Red (R) Wins = 1, Blue (B) Wins = 0
def binarize_winner(row):
    if row['Winner'] == row['R']:
        return 1
    else:
        return 0
df['Winner'] = df.apply(binarize_winner, axis = 1)
display(df['Winner'].head())

0    1
1    1
2    1
3    0
4    0
Name: Winner, dtype: int64

## Handle Missing Values

In [15]:
# Imputing Reach

print('Before')
print('------------------------------------')
for column in df.columns:
    print(column, 'Missing Values:', df[column].isnull().sum())

df['R_Reach'] = df['R_Reach'].fillna(df['R_Height'])
df['B_Reach'] = df['B_Reach'].fillna(df['B_Height'])

print('\n')
print('After')
print('------------------------------------')
for column in df.columns:
    print(column, 'Missing Values:', df[column].isnull().sum())

Before
------------------------------------
R Missing Values: 0
B Missing Values: 0
Format Missing Values: 0
Referee Missing Values: 32
Date Missing Values: 0
Location Missing Values: 0
Division Missing Values: 0
Winner Missing Values: 110
R_Name Missing Values: 0
R_Height Missing Values: 4
R_Weight Missing Values: 2
R_Reach Missing Values: 406
R_Stance Missing Values: 29
R_Birthday Missing Values: 63
R_SSLPM Missing Values: 0
R_SAC Missing Values: 0
R_SSAPM Missing Values: 0
R_SD Missing Values: 0
R_TAV Missing Values: 0
R_TAC Missing Values: 0
R_TD Missing Values: 0
R_SAV Missing Values: 0
B_Name Missing Values: 0
B_Height Missing Values: 10
B_Weight Missing Values: 8
B_Reach Missing Values: 891
B_Stance Missing Values: 66
B_Birthday Missing Values: 172
B_SSLPM Missing Values: 0
B_SAC Missing Values: 0
B_SSAPM Missing Values: 0
B_SD Missing Values: 0
B_TAV Missing Values: 0
B_TAC Missing Values: 0
B_TD Missing Values: 0
B_SAV Missing Values: 0


After
------------------------------------
R Missing Values: 0
B Missing Values: 0
Format Missing Values: 0
Referee Missing Values: 32
Date Missing Values: 0
Location Missing Values: 0
Division Missing Values: 0
Winner Missing Values: 110
R_Name Missing Values: 0
R_Height Missing Values: 4
R_Weight Missing Values: 2
R_Reach Missing Values: 4
R_Stance Missing Values: 29
R_Birthday Missing Values: 63
R_SSLPM Missing Values: 0
R_SAC Missing Values: 0
R_SSAPM Missing Values: 0
R_SD Missing Values: 0
R_TAV Missing Values: 0
R_TAC Missing Values: 0
R_TD Missing Values: 0
R_SAV Missing Values: 0
B_Name Missing Values: 0
B_Height Missing Values: 10
B_Weight Missing Values: 8
B_Reach Missing Values: 8
B_Stance Missing Values: 66
B_Birthday Missing Values: 172
B_SSLPM Missing Values: 0
B_SAC Missing Values: 0
B_SSAPM Missing Values: 0
B_SD Missing Values: 0
B_TAV Missing Values: 0
B_TAC Missing Values: 0
B_TD Missing Values: 0
B_SAV Missing Values: 0

## Adding Columns

In [16]:
df['Fight_Name'] = df['R_Name'] + ' vs. ' + df['B_Name']

## Changing Data Types

In [17]:
# Before
print(df.info())

# Converting Percentages to Floats
cols = ['R_SAC', 'R_SD', 'R_TAC', 'R_TD', 'R_SAC', 'B_SAC', 'B_SD', 'B_TAC', 'B_TD']
for col in cols:
    df[col] = df[col].astype(str).str.rstrip('%').astype('float') / 100.0

# Converting into Floats, Objects (Strings), Datetime, and Categories
dtype_dict = {
    'R': 'object', 'B': 'object', 'Format': 'category', 'Referee': 'object', 'Date': 'datetime64', 'Location': 'object', 'Division': 'category', 'Winner': 'int64',
    'R_Name': 'object', 'R_Height': 'float64', 'R_Weight': 'float64', 'R_Reach': 'float64', 'R_Stance': 'category',  'R_SSLPM': 'float64', 'R_SAC': 'float64', 'R_SSAPM': 'float64', 'R_SD': 'float64', 'R_TAV': 'float64', 'R_TAC': 'float64', 'R_TD': 'float64', 'R_SAV': 'float64',
    'B_Name': 'object', 'B_Height': 'float64', 'B_Weight': 'float64', 'B_Reach': 'float64', 'B_Stance': 'category', 'B_SSLPM': 'float64', 'B_SAC': 'float64', 'B_SSAPM': 'float64', 'B_SD': 'float64', 'B_TAV': 'float64', 'B_TAC': 'float64', 'B_TD': 'float64', 'B_SAV': 'float64',
    'Fight_Name': 'object'
}

df = df.astype(dtype_dict)
# After
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6012 entries, 0 to 6011
Data columns (total 37 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   R           6012 non-null   object
 1   B           6012 non-null   object
 2   Format      6012 non-null   object
 3   Referee     5980 non-null   object
 4   Date        6012 non-null   object
 5   Location    6012 non-null   object
 6   Division    6012 non-null   object
 7   Winner      5902 non-null   object
 8   R_Name      6012 non-null   object
 9   R_Height    6008 non-null   object
 10  R_Weight    6010 non-null   object
 11  R_Reach     6008 non-null   object
 12  R_Stance    5983 non-null   object
 13  R_Birthday  5949 non-null   object
 14  R_SSLPM     6012 non-null   float64
 15  R_SAC       6012 non-null   object
 16  R_SSAPM     6012 non-null   float64
 17  R_SD        6012 non-null   object
 18  R_TAV       6012 non-null   float64
 19  R_TAC       6012 non-null   object
 20  R_TD        6012 non-null   object
 21  R_SAV       6012 non-null   float64
 22  B_Name      6012 non-null   object
 23  B_Height    6002 non-null   object
 24  B_Weight    6004 non-null   object
 25  B_Reach     6004 non-null   object
 26  B_Stance    5946 non-null   object
 27  B_Birthday  5840 non-null   object
 28  B_SSLPM     6012 non-null   float64
 29  B_SAC       6012 non-null   object
 30  B_SSAPM     6012 non-null   float64
 31  B_SD        6012 non-null   object
 32  B_TAV       6012 non-null   float64
 33  B_TAC       6012 non-null   object
 34  B_TD        6012 non-null   object
 35  B_SAV       6012 non-null   float64
 36  Fight_Name  6012 non-null   object
dtypes: float64(8), object(29)
memory usage: 1.7+ MB
None

ValueError: Passing in 'datetime64' dtype with no precision is not allowed. Please pass in 'datetime64[ns]' instead.: Error while type casting for column 'Date'

## Re-Ordering Columns

In [18]:
order = ['Fight_Name', 'Date', 'Location', 'R', 'B', 'Winner', 'Division', 'Format', 'Referee',  
        'R_Name', 'R_Age', 'R_Height', 'R_Weight', 'R_Reach', 'R_Stance', 'R_Birthday', 'R_SSLPM', 'R_SAC', 'R_SSAPM', 'R_SD', 'R_TAV', 'R_TAC', 'R_TD','R_SAV',
        'B_Name', 'B_Age', 'B_Height', 'B_Weight', 'B_Reach', 'B_Stance', 'B_Birthday', 'B_SSLPM', 'B_SAC', 'B_SSAPM', 'B_SD', 'B_TAV', 'B_TAC', 'B_TD', 'B_SAV']

df = df.reindex(columns = order)

df.head()

,Fight_Name,Date,Location,R,B,Winner,Division,Format,Referee,R_Name,...,B_Stance,B_Birthday,B_SSLPM,B_SAC,B_SSAPM,B_SD,B_TAV,B_TAC,B_TD,B_SAV
0,Adrian Yanez vs. Gustavo Lopez,"March 20, 2021","Las Vegas, Nevada, USA",Adrian Yanez,Gustavo Lopez,Adrian Yanez,Bantamweight Bout,3 Rnd (5-5-5),Chris Tognoni,Adrian Yanez,...,Orthodox,"Jun 27, 1989",2.24,0.41,4.65,0.51,1.07,0.50,0.27,0.5
1,Trevin Giles vs. Roman Dolidze,"March 20, 2021","Las Vegas, Nevada, USA",Trevin Giles,Roman Dolidze,Trevin Giles,Middleweight Bout,3 Rnd (5-5-5),Herb Dean,Trevin Giles,...,Orthodox,"Jul 15, 1988",2.98,0.51,1.75,0.61,1.75,0.50,0.33,2.2
2,Tai Tuivasa vs. Harry Hunsucker,"March 20, 2021","Las Vegas, Nevada, USA",Tai Tuivasa,Harry Hunsucker,Tai Tuivasa,Heavyweight Bout,3 Rnd (5-5-5),Herb Dean,Tai Tuivasa,...,Orthodox,"Jan 03, 1989",4.33,0.51,8.44,0.41,0.00,0.00,0.00,0.0
3,Cheyanne Buys vs. Montserrat Conejo,"March 20, 2021","Las Vegas, Nevada, USA",Cheyanne Buys,Montserrat Conejo,Montserrat Conejo,Women's Strawweight Bout,3 Rnd (5-5-5),Mark Smith,Cheyanne Buys,...,Southpaw,"Feb 03, 1993",1.00,0.36,2.07,0.52,4.00,0.80,0.00,2.0
4,Marion Reneau vs. Macy Chiasson,"March 20, 2021","Las Vegas, Nevada, USA",Marion Reneau,Macy Chiasson,Macy Chiasson,Women's Bantamweight Bout,3 Rnd (5-5-5),Mark Smith,Marion Reneau,...,Orthodox,"Jul 27, 1991",4.16,0.49,2.17,0.46,0.98,0.21,0.64,0.5

## Exporting Pickle

In [19]:
with open('df.pkl', 'wb') as f:
    pickle.dump(df, f)